a {
    color: #18bc9c;
    text-decoration: none;
}

a:hover, a:focus {
    color:#18bc9c;
    text-decoration:underline
}
a:focus {
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}

.card-live-badges > .badge {
    font-size: 85%;
}

.card-live-panel {
    background-color: #2c3e50;
    color: white;
}

.card-live-all {
    background-color: white;
}

.sidepanel-selection {
    padding: 10px;
    color: black;
}

.sidepanel-selection-light {
    padding: 10px;
    color: white;
}