include LICENSE
include README.md
include MANIFEST.in
include card_live_dashboard/assets/*
recursive-include card_live_dashboard/test/unit/service/data/ *
recursive-include card_live_dashboard/service/data/ *
